.actionBtn {
  background-color: #323547;
  color: #fdfdfd;
  padding: 10px 12px;
  border-radius: 5px;
  font-weight: 500;
  line-height: 24px;
  font-size: 17px;
  cursor: pointer;
  width: 100%;
  margin: 12px 0 8px
}

.asset {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.assetName {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-left: 6px;
}

.close {
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
}

.container {
  background-color: white;
  padding: 24px 20px;
  width: 300px;
}

.disabled {
  background-color: #e7e8ec;
  color: #c0c1cc;
  cursor: default;
}

.green {
  color: #40a54b;
}

.red {
  color: red;
}

.group {
  padding: 10px 14px;
  border: 1px solid rgb(234, 235, 239);
  border-radius: 6px;
  margin-bottom: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.inputContainer {
  color: rgb(48, 53, 73);
  line-height: 40px;
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
}

.inputContainer input {
  font-size: 21px;
  padding: 0px;
  height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 0px;
  box-sizing: content-box;
  background: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
}

.inputContainer input:hover {
  outline: 0px;
}

.inputWrapper {
  display: flex;
}

.rowItem {
  color: rgb(98, 103, 123);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.rowInfo {
  font-size: 15px;
  margin-bottom: 10px;
}

.subtitle {
  line-height: 24px;
  color: rgb(98, 103, 123);
}

.title {
  font-weight: 600;
  line-height: 30px;
  font-size: 21px;
}

@media (min-width: 480px) {
  .container {
    width: 420px;
  }
}